body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Style de la barre de navigation */
.navbar {
    background-color: #333;
    display: flex;
    margin-bottom: 5%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    gap : 1%;
}

/* Style des éléments de la barre */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
}

/* Changement de couleur au survol */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Pour éviter que le contenu se cache sous la navbar */
.content {
    padding-top: 100px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Adjust the width as needed */
}

.employes-content, .projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5%; /* Augmenter l'espace entre les cartes */
    justify-content: center;
    margin-top: 5%;
    margin-left: 2%;
}
/* Conteneur de la carte */
.card, .card2{
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
    transform-origin: center; /* Assure que la rotation se fait au centre de la carte */
}

/* La classe flipped sera ajoutée via JavaScript */
.card.flipped .card-inner{
    transform: rotateY(180deg); /* Fait pivoter la carte lorsqu'elle est cliquée */
}

/* Faces avant et arrière de la carte */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Masque l'arrière lorsque la carte tourne */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Ajoute un défilement vertical si nécessaire */
}

.card-back {
    transform: rotateY(180deg); /* Affiche la face arrière */
}

.formulaire{
    margin-top: 100px;
}

.project-formulaire{
    display: none;
    margin-top: 400px;
    margin-bottom: 100px;
}