<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>GYAT</title>
</head>
<body>
    <div class="navbar">
        <a href="allemployes">Tout les employés</a>
        <a href="addemployes">Ajouter un employé</a>
        <a href="removeemployes">Supprimer un employé</a>
        <a href="updateemployes">Modifier un employé</a>
        <a href="alldepartements">Liste des départements</a>
        <a href="allprojects">Tout les projets</a>
    </div>

    <div class="content">
        {{range .}}
            <div>
                <h2>Id Employé : {{.IdEmployes}}</h2>
                <p>Nom : {{.Name}}</p>
                <p>Prénom : {{.Firstname}}</p>
                <p>Date de naissance : {{.Birthdate}}</p>
                <p>Email : {{.Mail}}</p>
                <p>Ville : {{.City}}</p>
                <p>ID Département : {{.IdDepartement}}</p>
                <p>ID Poste : {{.IdPost}}</p>
                <p>Salaire : {{.Salary}}</p>
            </div>
        {{end}}
    </div>
    <h1>Voici les employés de l'entreprise :</h1>

 

</body>
</html>