<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>GYAT</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Accueil</a>
        <a href="allemployes">Tout les employés</a>
        <a href="addemploye">Ajouter un employé</a>
        <a href="manage">Gérer les employés</a>
        <a href="allprojects">Tout les projets</a>
    </div>
    <div class="employes-content">
        <h1>Choisisser un employé a supprimer :</h1>
        {{range .}}
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="../static/image/personne.png" alt="Employe">
                    <h2>{{.Name}} {{.Firstname}}</h2>
                </div>
                <div class="card-back">
                    <p>Nom : {{.Name}}</p>
                    <p>Prénom : {{.Firstname}}</p>
                    <br>
                    <form action="/remove" method="POST">
                        <input type="hidden" name="idremove" value="{{.IdEmployes}}">
                        <button type="submit">Supprimer</button>
                    </form>
                    <br>
                    <br>
                    <form action="/edit" method="POST">
                        <input type="hidden" name="idedit" value="{{.IdEmployes}}">
                        <button type="submit">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <script src="../static/JS/script.js"></script>
</body>
</html>